---

---
@charset "utf-8";

// Variables

$mono-font-family: 'Space Mono', monospace;
$text-color:       #222;
$grey-color:       #8F8F8C;

$green:            #b4dc70;
$orange:           #fab368;
$red:              #f88174;
$purple:           #bdbad9;
$blue:             #82b0d0;

html {
    font-family: $mono-font-family;
}

// Grammar

h1.post-title:before {
    content: "#";
    margin-right: 17px;
}

span.adj {
    color: $orange;
}
span.nou {
    color: $red;
}
span.adv {
    color: $purple;
}
span.ver {
    color: $blue;
}
span.con {
    color: $green;
}
article a, article a:visited {
    color: $grey-color;
    word-break: break-all;
}

// Night mode

html {
    background-color: $text-color;
}
html, a, header a:visited, footer a:visited {
    color: #FFF;
}