---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
$base-font-family: "IBM Plex Sans Condensed", sans-serif;
$mono-font-family: "IBM Plex Mono", monospace;
$base-font-size:   18px;
$base-font-weight: 400;
$bold-font-weight: 700;
$base-line-height: 1.9;

$small-font-size:  $base-font-size * 0.875;

$spacing-unit:     2em;
$max-width:        728px;

// BBC infographics colours http://www.bbc.co.uk/gel/guidelines/how-to-design-infographics

$red-l:             #f16c56;
$orange-l:          #f1be49;
$yellow-l:          #f3eb47;
$green-l:           #c9dc5d;
$blue-l:            #a9d6da;
$purple-l:          #a4a4cb;
$grey-l:            #868996;
$cyan-l:            #00afae;
$red:               #cc3e27;
$orange:            #f08f20;
$yellow:            #f9cd15;
$green:             #89ba3f;
$blue:              #7aa6aa;
$purple:            #75749c;
$grey:              #565966;
$cyan:              #067f80;
$red-d:             #9c1c1f;
$orange-d:          #c06128;
$yellow-d:          #c89d2c;
$green-d:           #598b3e;
$blue-d:            #4a777b;
$purple-d:          #45456c;
$grey-d:            #262936;
$cyan-d:            #035050;

$background-colour: null;
$text-colour:       #404040;
$link-colour:       $blue-d;
$select-colour:     $yellow-l;
$spice-colour:      $red-d;
$raw-colour:        $green-d;
$standout-colour:   $grey-d;
$grey-colour:       $grey;
$grey-colour-light: $grey-l;
$grey-colour-dark:  $grey-d;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
