---
layout: default
---

<div class="content">

  <p>robSafar.com is a thing. Behold.</p>

  <img src="https://lh3.googleusercontent.com/-Spa_9Zf7uOk/V4ENozWQyVI/AAAAAAAAJ1s/wILm52BwULkJVMKsoG9zcrECyEAA24x5wCL0B/w1060-h596-n-rw-no/92b6d5.png" alt="92b6d5" title="92b6d5">

  <hr>

  <h3>Recently (relatively)</h3>

  <ul class="post-list">
    {% for post in site.posts limit:10 %}
      <li>
        <span class="mono">{{ post.date | date:"%d&nbsp;%b&nbsp;'%y" }}</span>&nbsp;
        {% if post.platform %}
          <a href="{{ post.exturl }}">"{{ post.title }}"</a>
        {% else %}
          <a href="{{ post.url }}">"{{ post.title }}"</a>
        {% endif %}
        {% if post.type %}<span class="grey"> //{{ post.type }}</span>{% endif %}
        {% if post.platform %}<span class="grey">/{{ post.platform }}</span>{% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
