html {
  font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
  padding: 2rem;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.5;
  @media (max-width: 900px)
    font-size: 20px;
  @media (max-width: 500px)
    font-size: 14px;
}
 
h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
}
 
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: 1.1;
}
