<footer class="site-footer">
  <p>Getting hold of me is a simple matter <a href="https://twitter.com/robsafar">on Twitter</a>. To see some of the things I've written, check out <a href="https://medium.com/@robsafar">my Medium profile</a>. For things that I've made/am making, up in <a href="https://github.com/robSafar">my GitHub account</a> is where it's at.</p>
  <p>So what else. I mean that's probably all of the important stuff, and I do want to try and keep this site light. Alright, later.</p>
</footer>
