<li style="{% if post.extimg %}background: url('{{ post.extimg }}'),linear-gradient(to right, grey, grey);{% endif %}{% if post.image %}background: url('/resources/{{ post.image }}'),linear-gradient(to right, grey, grey);{% endif %}background-size: cover;">
  <div class="postText">
    <p class="postDate"><span>{{ post.date | date:"%d&nbsp;%b&nbsp;%Y" }}</span></p>
    {% if post.subtitle %}<p><span>{{ post.subtitle }}</span></p>{% endif %}
    <h3><span><a href="{% if post.exturl %}{{ post.exturl }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a></span></h3>
  </div>
</li>
