body {
    margin: 0;
}

main { 
    background-color: $background-colour; 
    max-width: 1024px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 1rem;
}

/**
  * Typography
  */

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
    //font-family: $base-font-family;
    color: $text-colour;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    font-feature-settings: "salt" 1, "calt" 1, "case" 1;
}

h1, .gel-trafalgar {
    font-weight: 700;
}
.gel-brevier {
    font-family: $mono-font-family;
}
.gel-great-primer {
    font-weight: 400;
}
.gel-minion {
    text-transform: uppercase;
}

//.post h1, .post h2 { font-weight: 300; }
.post h2 { font-size: 2rem; margin-top: $spacing-unit; line-height: $base-line-height; }
.post h3, .post h4 { 
    font-weight: 500; 
    margin-top: $spacing-unit;
}

strong { font-weight: $bold-font-weight; }

a, a:visited {
    color: $link-colour;
}

::selection, .highlightSelect {
    background: $select-colour; color: $background-colour;
}
::-moz-selection {
    background: $select-colour; color: $background-colour;
}

// Header
header {
    line-height: 1;
}
header > a {
    text-decoration: none;
    font-weight: $bold-font-weight;
    font-feature-settings: "salt" 0;
}
div.headerSmall a, div.headerSmall a:visited {
    text-decoration: none;
    color: $text-colour;
    font-feature-settings: "salt" 0;
}

// Lists

ol {
    counter-reset: section; 
    list-style-type: none; 
}
ol li::before {
    counter-increment: section; 
    content: "." counter(section); 
    color: $spice-colour; 
    display:inline-block; 
    width: 1em; 
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl; }
ul {
    counter-reset: section;
    list-style: none; 
}
ul:not(.cards) li::before {
    content: "\2192";  
    display: inline-block; 
    width: 1em; 
    margin-left: -1.5em; 
    margin-right: 0.5em;
}

// Code
code, pre {
    font-family: $mono-font-family;
}

// Video iframes fluid width
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// External link icon (à la Wikipedia)
p > a.externalLink::after, span.externalLink::after {
    content: "↪";
}

// Download link icon
a.downloadLink::before {
    content: "↓";
}

// SVG animations

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
  
.blendNormal {
    mix-blend-mode: normal;
}
.blendMultiply {
    mix-blend-mode: multiply;
}