body {
    margin: 0;
}

main { 
    background-color: $background-colour; 
    max-width: 1024px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 1rem;
}

/**
  * Typography
  */

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
html { font-family: 'Inter var', sans-serif; }
}

html {
    //font-family: $base-font-family;
    color: $text-colour;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;

    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-feature-settings: 'liga' 1;
}

h1, .gel-trafalgar {
    font-weight: 700;
}
.gel-brevier {
    font-family: $mono-font-family;
}
.gel-great-primer {
    font-weight: 400;
}
.gel-minion {
    text-transform: uppercase;
}

//.post h1, .post h2 { font-weight: 300; }
.post h2 { font-size: 2rem; margin-top: $spacing-unit; }
.post h3, .post h4 { 
    font-weight: 500; 
    margin-top: $spacing-unit;
}

strong { font-weight: $bold-font-weight; }

a, a:visited {
    color: $link-colour;
}

::selection, .highlightSelect {
    background: $select-colour; color: $background-colour;
}
::-moz-selection {
    background: $select-colour; color: $background-colour;
}

// Header
header {
    line-height: 1;
}
header > a {
    text-decoration: none;
    font-weight: $bold-font-weight;
}

// Lists

ol {
    counter-reset: section; 
    list-style-type: none; 
}
ol li::before {
    counter-increment: section; 
    content: "." counter(section); 
    color: $spice-colour; 
    display:inline-block; 
    width: 1em; 
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl; }
ul {
    counter-reset: section;
    list-style: none; 
}
ul:not(.cards) li::before {
    content: "\1F449";  
    display: inline-block; 
    width: 1em; 
    margin-left: -1.5em; 
    margin-right: 0.5em;
}

// Code
code, pre {
    font-family: $mono-font-family;
}

// Video iframes fluid width
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// External link icon (à la Wikipedia)
p > a.externalLink, span.externalLink {
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2210%22 height=%2210%22 viewBox=%220 0 10 10%22%3E%3Cpath fill=%22%23ffffff%22 stroke=%22%23262936%22 d=%22M.5 3.518h5.982V9.5H.5z%22/%3E%3Cpath fill=%22%23262936%22 d=%22M4.755-.16H9.99v5.39L8.417 6.774l-1.31-1.31L4.383 8.19 1.695 5.5l2.808-2.807-1.31-1.31z%22/%3E%3Cpath fill=%22%23ffffff%22 d=%22M8.984.845l.022 4.884L7.19 3.91 4.308 6.79 3.08 5.567l2.882-2.88L4.112.833z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 13px;
  }

// SVG animations

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
  
.blendNormal {
    mix-blend-mode: normal;
}
.blendMultiply {
    mix-blend-mode: multiply;
}