body { background-color: $background-colour; }

/**
  * Typography
  */
html {
font-family: $base-font-family;
color: $text-colour;
font-size: $base-font-size;
font-weight: $base-font-weight;
line-height: $base-line-height;

-webkit-text-size-adjust: 100%;
-webkit-font-feature-settings: "kern" 1;
-moz-font-feature-settings: "kern" 1;
-o-font-feature-settings: "kern" 1;
font-feature-settings: "kern" 1;
font-kerning: normal;
}

strong { font-weight: $bold-font-weight;; }

a, a:visited {
    color: $blue;
}

::selection {
    background: $yellow1; color: $background-colour;
}
::-moz-selection {
    background: $yellow1; color: $background-colour;
}

// Header
header h1 {
    line-height: 1;
}
header h1 a {
    text-decoration: none;
    font-weight: $bold-font-weight;
}
header h1 a span:nth-of-type(1) {
    color: $grey-colour;
}
header h1 a span:nth-of-type(2) {
    color: $grey-colour-dark;
}

// Lists

ol {
    counter-reset: section; 
    list-style-type: none; 
}
ol li::before {
    counter-increment: section; 
    content: "." counter(section); 
    color: #cc241d; 
    display:inline-block; 
    width: 1em; 
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl; }
ul {
    list-style: none; counter-reset: section;
}
ul li::before {
    content: "\25cb";  
    color: #cc241d; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}

// Code
code, pre {
    font-family: $mono-font-family;
}
code {
    background-color: $grey-colour-light;
}

// Anon
.externalLink {
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2210%22 height=%2210%22 viewBox=%220 0 10 10%22%3E%3Cpath fill=%22%23fff%22 stroke=%22%23000%22 d=%22M.5 3.518h5.982V9.5H.5z%22/%3E%3Cpath fill=%22%23000%22 d=%22M4.755-.16H9.99v5.39L8.417 6.774l-1.31-1.31L4.383 8.19 1.695 5.5l2.808-2.807-1.31-1.31z%22/%3E%3Cpath fill=%22%23fff%22 d=%22M8.984.845l.022 4.884L7.19 3.91 4.308 6.79 3.08 5.567l2.882-2.88L4.112.833z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 13px;
  }

.urghRainbows {
    animation: rainbow 6.5s linear;
    animation-iteration-count: infinite;
}

@-webkit-keyframes rainbow {
    100%,0%{background-color: rgb(255, 127, 127);}
    8%{background-color: rgb(255, 190, 125);}
    16%{background-color: rgb(255, 255, 127);}
    25%{background-color: rgb(190, 255, 127);}
    33%{background-color: rgb(127, 255, 127);}
    41%{background-color: rgb(127, 255, 190);}
    50%{background-color: rgb(127, 255, 255);}
    58%{background-color: rgb(127, 190, 255);}
    66%{background-color: rgb(127, 127, 255);}
    75%{background-color: rgb(190, 127, 255);}
    83%{background-color: rgb(255, 127, 255);}
    91%{background-color: rgb(255, 127, 190);}
}
@-moz-keyframes rainbow {
    100%,0%{background-color: rgb(255, 127, 127);}
    8%{background-color: rgb(255, 190, 125);}
    16%{background-color: rgb(255, 255, 127);}
    25%{background-color: rgb(190, 255, 127);}
    33%{background-color: rgb(127, 255, 127);}
    41%{background-color: rgb(127, 255, 190);}
    50%{background-color: rgb(127, 255, 255);}
    58%{background-color: rgb(127, 190, 255);}
    66%{background-color: rgb(127, 127, 255);}
    75%{background-color: rgb(190, 127, 255);}
    83%{background-color: rgb(255, 127, 255);}
    91%{background-color: rgb(255, 127, 190);}
}
@-o-keyframes rainbow {
    100%,0%{background-color: rgb(255, 127, 127);}
    8%{background-color: rgb(255, 190, 125);}
    16%{background-color: rgb(255, 255, 127);}
    25%{background-color: rgb(190, 255, 127);}
    33%{background-color: rgb(127, 255, 127);}
    41%{background-color: rgb(127, 255, 190);}
    50%{background-color: rgb(127, 255, 255);}
    58%{background-color: rgb(127, 190, 255);}
    66%{background-color: rgb(127, 127, 255);}
    75%{background-color: rgb(190, 127, 255);}
    83%{background-color: rgb(255, 127, 255);}
    91%{background-color: rgb(255, 127, 190);}
}
@keyframes rainbow { 
    100%,0%{background-color: rgb(255, 127, 127);}
    8%{background-color: rgb(255, 190, 125);}
    16%{background-color: rgb(255, 255, 127);}
    25%{background-color: rgb(190, 255, 127);}
    33%{background-color: rgb(127, 255, 127);}
    41%{background-color: rgb(127, 255, 190);}
    50%{background-color: rgb(127, 255, 255);}
    58%{background-color: rgb(127, 190, 255);}
    66%{background-color: rgb(127, 127, 255);}
    75%{background-color: rgb(190, 127, 255);}
    83%{background-color: rgb(255, 127, 255);}
    91%{background-color: rgb(255, 127, 190);}
}

// ∀∄∎

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }