// Header

header > a, header > a:visited {
    //font-family: $mono-font-family;
    color: $text-colour;
    font-size: calc(1.2rem + 13vw);
    font-weight: 900;
    max-width: 100vw;

}

.heroVideo {
    background-color: #000;
    //background-image: url("/resources/onOff.mov.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 90vh;
    text-align: center;
}
.heroVideo header {
    padding-top: 50vh;
    -webkit-animation: fadein 4s;
    -moz-animation: fadein 4s;
    -ms-animation: fadein 4s;
    -o-animation: fadein 4s;
    animation: fadein 4s;
}
@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.heroVideo header > a, .heroVideo header > a:visited {
    color: #fff;
}

.headerSmall {
    font-size: 2rem;
    font-weight: 200;
}

.headerNavigation {
    margin-top: 1rem;
}

// Footer

footer.site-footer { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
}
@media (max-width: 500px) {
    footer.site-footer > p {
        grid-column: span 2;
    }
}
footer.site-footer > div {
    grid-column: span 2;
}
footer.site-footer > p, footer.site-footer > div { padding: 1rem; }

// Cards

ul.cards { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    list-style: none; 
    padding: 1rem; 
    margin-bottom: 2 * $spacing-unit;
}
ul.cards li > a > div { 
    padding: 1rem; 
    box-shadow: 0; 
    transition: all 0.3s; 
}
ul.cards li > a > div:hover { 
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12); 
}
@media (max-width: 500px) {
    ul.cards li {
        grid-column: 1 / span 2;
    }
}
ul.cards li a { 
    color: $text-colour; 
    text-decoration: none; 
}
ul.cards li img { 
    filter: grayscale(45%); 
    transition: all 0.3s; 
    width: 100%; 
    max-height: 360px; 
    object-fit: cover; 
    margin-bottom: 1rem; 
}
ul.cards li img:hover { 
    filter: grayscale(0);
}
ul.cards li hr { 
    background: $select-colour; 
    border: none; 
    height: 6px; 
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.cardImage { 
    overflow: hidden; 
    width: 100%; 
}
.cardTitle { 
    margin-bottom: 0.5rem; 
}
.cardTag { 
    margin-top: 1rem; 
}

// Articles

article, main div.container, section {
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    margin-top: 2 * $spacing-unit;
    margin-bottom: 2 * $spacing-unit;
}
article header, section header {
    margin-bottom: 2 * $spacing-unit;
}
article footer, section footer {
    margin-top: 2 * $spacing-unit;
}

// Images

.post-content img:first-child {
    margin-bottom: $spacing-unit;
}

article img {
    max-width: 99%;
    height: auto;
}

// Anon

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
