<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </main>
    <script>
      // External links 
      var linkList = document.getElementsByTagName("A");
      var i;
      for (i = 0; i < linkList.length; i++) {
        if ( !linkList[i].host.match(/robsafar|robSafar|127\.0\.0\.1/) ) {
          document.getElementsByTagName("A")[i].classList.add("externalLink");
        }
      }
    </script>
    <script>
      // Silly description
      var thingsToSay = ["Urgh. Rainbows.","The same!","dot com","Well this is nice.","Mythopoetic thought leadership"];
      var sayThis = thingsToSay[Math.floor(Math.random()*thingsToSay.length)];
      document.getElementById('description_p').innerHTML = sayThis;
      //if (sayThis == thingsToSay[0]) {
      //  document.getElementsByTagName("BODY")[0].classList.add("urghRainbows");
      //};
    </script>
  </body>
</html>
